<a href="https://colab.research.google.com/github/squiroga585/PROGCOM-A/blob/main/Clase_2_Estructuras_de_repetici%C3%B3n.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Estructuras de repetición
Permite repetir una o más acciones de acuerdo con una condición

##Estructura para - for

1. Cuando se sabe cuántas veces se repite una acción.
2. Está conformado por una condicion inicial (CI) una condición final (CF) y pasos (frecuencia de repetición).
3. Esta estructura no se detendrá, hasta alcanzar CF-1

Estructura general del for
```
for (variable) in ranfe (CI, CF+1, paso):
  Se repite (CF+1-CI)/paso veces una acción
```
Estructura resumida del for
```
for (variable) in range(cantidad):
  Se repite cantidad de veces una acción
```
Estructura for como iteración
1. El para (for) itera tantas veces, como elementos tenga la lista
2. La variable toma el valor de cada elemento de la lista por iteración
```
Lista=[1,2,3,4,5]
for (variable) in Lista:
 se repite len(Lista)
```

In [ ]:
#Hacer la tabla de multiplicar de un número n
n=int(input("Digita un número:"))

Digita un número:7

In [ ]:
print(f"Tabla del {n}")
for holitas in range(1,11,1):
  print(f"{n} x {holitas}= {n*holitas}")

Tabla del 7
7 x 1= 7
7 x 2= 14
7 x 3= 21
7 x 4= 28
7 x 5= 35
7 x 6= 42
7 x 7= 49
7 x 8= 56
7 x 9= 63
7 x 10= 70

In [ ]:
print("Tablas del 1 al 10\n")
print("")
for tabla in range(1,11):
  print(f"tabla del {tabla}")
  for numero in range(1,11):
    print(f"{tabla} x {numero} = {tabla*numero}")
  print("")

Tablas del 1 al 10


tabla del 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

tabla del 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

tabla del 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

tabla del 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

tabla del 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

tabla del 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

tabla del 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

tabla del 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

tabla del 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

tabla del 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [ ]:
print(f"Tabla del {n}")
for holitas in range(10):
  print(f"{n} x {holitas+1} = {n*(holitas+1)}")

Tabla del 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [ ]:
n=7
print(f"tabla del {n}")
for holitas in range(1,11*n,n):
  print(f"{n} x {int(holitas/n)} = {(n*holitas/n)-1}")

tabla del 7
7 x 0 = 0.0
7 x 1 = 7.0
7 x 2 = 14.0
7 x 3 = 21.0
7 x 4 = 28.0
7 x 5 = 35.0
7 x 6 = 42.0
7 x 7 = 49.0
7 x 8 = 56.0
7 x 9 = 63.0
7 x 10 = 70.0

In [ ]:
n=7
print(f"tabla del {n}")
for holitas in range(1,11*n,n):
  print(f"{n} x {int(holitas/n)} = {n*int(holitas/n)}")

tabla del 7
7 x 0 = 0
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [ ]:
numeros=[1,2,3,4,5,6,7,8,9,10]
for num in numeros:
  print(f"{n} x {num} ={n*num}")

7 x 1 =7
7 x 2 =14
7 x 3 =21
7 x 4 =28
7 x 5 =35
7 x 6 =42
7 x 7 =49
7 x 8 =56
7 x 9 =63
7 x 10 =70

In [ ]:
numeros2=list(range(1,11))
numeros2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
for num in numeros2:
  print(f"{n} x {num} ={n*num}")

7 x 1 =7
7 x 2 =14
7 x 3 =21
7 x 4 =28
7 x 5 =35
7 x 6 =42
7 x 7 =49
7 x 8 =56
7 x 9 =63
7 x 10 =70

##Listas
1. Es un tipo de datos
2. Todos los elementos de una lista, **deben** separarse por comas
3. Forma canónica para declarar una lista
```
(variable)=[]
```
Ejemplo:
flores=["amapola", "tulipan", "lengua de suegra", dahlia, rosa]

In [ ]:
dahlia=3 #variable de tipo numérica, int
rosa="cinco"# variable de tipo alfanumérico, str
flores=["amapola", "tulipan", "lengua de suegra", dahlia, rosa]

4. Manual
```
Lista2=[dato1,dato2,dato3...datoN]
```
5. Siempre son finitas
6. Son indexadas
```
Lista2=[dato1,dato2,dato3...datoN]
```
dato1 está en el index 0
dato 2 está ubicado en el index 1

7. Estructuras **para** para la creación de listas
```
#Ejemplo: crear una lista de 5 elementos
lista=[] #para que el programa sepa que es una lista
for loquesea in range(5):
lista=input("Ingrese el nombre de una flor")
```

In [9]:
lista=[]
for loquesea in range(5):
  lista=input("Ingrese el nombre de una flor")

Ingrese el nombre de una florbebe
Ingrese el nombre de una florpapu
Ingrese el nombre de una florcaca
Ingrese el nombre de una floramogos
Ingrese el nombre de una florlol

In [19]:
lista=[]
for loquesea in range(5):
  lista.append(loquesea)

In [4]:
lista

[0, 1, 2, 3, 4]

In [20]:
flores=["amapola","rosa","azuzena","lengua de suegra", "dalia"]

In [21]:
#Quiero saber quién está en la primera posición
flores[0]

'amapola'

In [22]:
flores[0]

'amapola'

In [23]:
len(flores)

5

In [24]:
flores[len(flores)-1]

'dalia'

In [25]:
flores.index("lengua de suegra")

3

In [26]:
type(lista)

list

In [27]:
for i in flores:
  print(i)

amapola
rosa
azuzena
lengua de suegra
dalia